
.card {
    box-shadow: 0 1rem 2rem rgba(0,0,0, .5);
    height: 100%;
    

    &-link:not(:last-child) {
        margin-right: 2.5rem;
    }

    &-link:link,
    &-link:visited {
        display: inline-block;
        text-decoration: none;
        color: $color-primary;
        text-shadow: 0 .5rem 1rem rgba(0,0,0, .5);
        transition: all .5s;
    }

    &-link:hover {
       text-shadow: 0 1rem 2rem rgba(0,0,0, .5);
       transform: translateY(-4px); 
    }

    &-link:active {
        text-shadow: 0 .5rem 1rem rgba(0,0,0, .5);
        transform: translateY(-2px); 
     }
}