.header-secondary {
    text-shadow: 0 .5rem 1rem rgba(0,0,0, .5);
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.header-first {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-weight: 400;
}