.bg-overlay {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: $color-background;
    opacity: .8;
}

.bg-primary-custom {
    background-color: $color-background;
    opacity: .8;
}

.text-primary-custom {
    color: $color-primary-light;
}

.icon-lg {
    font-size: 2.5rem;
}
.icon-md {
    font-size: 2rem;
}
.btn-primary-custom {
    background-color: $color-primary;
    color: #fff;
}

